*.user           #User specific solution and project settings
*.sln.cache
[bB]in/         #Build output
[oO]bj/
*.xap
/UHSampleGame/bin/x86/Debug/Content/Video/intro.wmv
/UHSampleGame/bin/x86/Debug/Content/Video/intro.xnb
/UHSampleGame/obj/x86/Debug/ResolveAssemblyReference.cache
/SkinnedModel/bin/x86/Debug/SkinnedModel.dll
/SkinnedModel/bin/x86/Debug/SkinnedModel.pdb
/SkinnedModel/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
/SkinnedModel/obj/x86/Debug/SkinnedModel.dll
/SkinnedModel/obj/x86/Debug/SkinnedModel.pdb
/SkinnedModel/obj/x86/Debug/SkinnedModelWindows.csproj.FileListAbsolute.txt
/SkinnedModelPipeline/bin/x86/Debug/SkinnedModel.dll
/SkinnedModelPipeline/bin/x86/Debug/SkinnedModel.pdb
/SkinnedModelPipeline/bin/x86/Debug/SkinnedModelPipeline.dll
/SkinnedModelPipeline/bin/x86/Debug/SkinnedModelPipeline.pdb
/SkinnedModelPipeline/obj/x86/Debug/ResolveAssemblyReference.cache
/SkinnedModelPipeline/obj/x86/Debug/SkinnedModelPipeline.csproj.FileListAbsolute.txt
/SkinnedModelPipeline/obj/x86/Debug/SkinnedModelPipeline.dll
/SkinnedModelPipeline/obj/x86/Debug/SkinnedModelPipeline.pdb
/UHSampleGame/UHSampleGame.csproj.Debug.cachefile
/UHSampleGame/bin/x86/Debug/Content/AnimatedModel/dude.xnb
/UHSampleGame/bin/x86/Debug/Content/AnimatedModel/head_0.xnb
/UHSampleGame/bin/x86/Debug/Content/AnimatedModel/jacket_0.xnb
/UHSampleGame/bin/x86/Debug/Content/AnimatedModel/pants_0.xnb
/UHSampleGame/bin/x86/Debug/Content/AnimatedModel/upBodyC_0.xnb
/UHSampleGame/bin/x86/Debug/Content/DummyText/Font.xnb
/UHSampleGame/bin/x86/Debug/Content/DummyText/background.xnb
/UHSampleGame/bin/x86/Debug/Content/Model/background.xnb
/UHSampleGame/bin/x86/Debug/Content/Model/box.xnb
/UHSampleGame/bin/x86/Debug/Content/Model/box_texture_0.xnb
/UHSampleGame/bin/x86/Debug/Content/Model/plane_0.xnb
/UHSampleGame/bin/x86/Debug/Content/Model/pyramids.xnb
/UHSampleGame/bin/x86/Debug/Content/SkinnedModel.xnb
/UHSampleGame/bin/x86/Debug/SkinnedModel.dll
/UHSampleGame/bin/x86/Debug/SkinnedModel.pdb
/UHSampleGame/bin/x86/Debug/UHSampleGame.exe
/UHSampleGame/bin/x86/Debug/UHSampleGame.pdb
/UHSampleGame/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
/UHSampleGame/obj/x86/Debug/UHSampleGame.csproj.FileListAbsolute.txt
/UHSampleGame/obj/x86/Debug/UHSampleGame.exe
/UHSampleGame/obj/x86/Debug/UHSampleGame.pdb
/UHSampleGame/obj/x86/Debug/cachefile-896dab71-c352-4b97-a450-c5aeb00714f0-targetpath.txt
*.suo


/UHSampleGame/Content/bin